<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Billetera SOE</title>
    <link type="text/css" rel="stylesheet" href="css/toastr.css" />
    <link type="text/css" rel="stylesheet" href="css/styles.css" />
</head>
<body>
    <div id="block">
        <div id="main-container">
            <h1 style="text-align: center;">Bienvenido a la billetera SOE</h1>

            <div id="registration-block" class="form-block">
                <div class="input-block">
                    <label for="name-txt"></label>
                    <input class="input" id="name-txt"/>
                </div>
                <div class="button-block">
                    <button id="register-button">Registrarse</button>
                    <button id="login-button">Ingresar</button>
                </div>
            </div>

            <div id="transaction-block">
                <div class="form-block">
                    <div class="input-block">
                        <label for="amount-txt"></label>
                        <input class="input" id="amount-txt"/>
                    </div>
                    <div class="button-block">
                        <button class="button" id="income-button">Registrar ingreso</button>
                        <button class="button" id="withdrawal-button">Registrar salida</button>
                    </div>
                    <label id="balance-label">Saldo total: <span id="balance-amount">0</span> Bs.</label>
                </div>

                <div id="balance-detail">
                    <h2>Lista de transacciones</h2>
                    <div>
                        <table id="balance-table">
                            <tr>
                                <th>Tipo transaction</th>
                                <th>Fecha</th>
                                <th>Monto (Bs.)</th>
                            </tr>
                            <!--
                            <tr>
                                <td>Alfreds Futterkiste</td>
                                <td>Maria Anders</td>
                                <td>Germany</td>
                            </tr>
                            <tr>
                                <td>Centro comercial Moctezuma</td>
                                <td>Francisco Chang</td>
                                <td>Mexico</td>
                            </tr>
                            -->
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/jquery-3.4.1.js"></script>
    <script src="js/toastr.js"></script>
    <script src="js/index.js"></script>
</body>
</html>