body {
    margin: 20px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#block {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#main-container {
    display: block;
    position: relative;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    /*border: 1px solid black;*/
    box-sizing: border-box;
}

/*----------------------------------------------------*/

#main-container .form-block {
    text-align: center;
    padding: 10px;
}

#main-container .form-block .input-block {
    padding: 10px;
}

#main-container .form-block .input-block input {
    width: 250px;
}

#main-container .form-block .button-block button {
    padding: 5px 20px;
    margin: 2px 10px;
}

#main-container .form-block #balance-label {
    display: block;
    font-size: 30px;
    padding: 15px;
}

#main-container .form-block #user-name-label {
    display: block;
    font-size: 25px;
    padding: 15px;
}

/*----------------------------------------------------*/

#main-container #transaction-block {
    display: none;
}

#main-container #transaction-block #balance-detail {
    display: none;
}

#main-container #transaction-block #balance-detail .income-transaction {
    background-color: green;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px black;
}

#main-container #transaction-block #balance-detail .withdrawal-transaction {
    background-color: red;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px black;
}